:root {
  max-width: 100vw;
  max-height: 100%;
}

.rope {
  position: absolute;
  top: -10px; /* Начало веревочки выше кнопки */
  left: 50%; /* Центрируем веревочку */
  transform: translateX(-50%); /* Центрируем веревочку */
  width: 2px; /* Ширина веревочки */
  height: 40px; /* Длина веревочки */
  background-color: #555; /* Цвет веревочки */
  content: ""; /* Важно для псевдоэлемента */
}

.rope::after {
  position: absolute;
  top: 40px; /* Конец веревочки ниже кнопки */
  left: 50%; /* Центрируем веревочку */
  transform: translateX(-50%) rotate(45deg); /* Поворачиваем веревочку */
  width: 10px; /* Ширина "узла" */
  height: 10px; /* Высота "узла" */
  background-color: #555; /* Цвет "узла" */
  content: ""; /* Важно для псевдоэлемента */
}

.tabs {
  font-size: 10px !important;
  margin-top: -2px;
}